.plv-iar-welfare-lottery__task__wrap {
  .plv-iar-welfare-lottery__copy-btn {
    position: absolute;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
  }
}
.plv-iar-welfare-lottery__invitation__task {
  color: #666;
  font-size: 12px;
}
.plv-iar-welfare-lottery__invitation__numbers {
  color: #FE3F52;
}
.plv-iar-welfare-lottery__task__btn-group {
  text-align: center;
}